<head>
    <meta charset="utf-8">
    <title>TEST</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
    html,body {
        height: 100%;
    }
    </style>

    <style>
    .bg-primary{
        background-color: #053780 !important;
    }

    .card-font-color{
        color: #fff;
    }

    .card-body-extra{
        min-height: 450px;
    }

    .degree-btn{
        min-width: 70px !important;
    }

    .temp-buffer{
        padding: 8px 0 0 0;
    }

    .center-block {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    </style>

</head>
<body class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row-5">
                    <div class="col-6">
                        <img src="http://openweathermap.org/img/wn/04d@2x.png">
                    </div>
                    <div class="col-6">
                        <h2 class="card-font-color temp-buffer">55 &#176F</h2>
                    </div>
                </div>
                <div class="row-1">
                </div>
                <div class="row-4">
                    <div class="col">
                        <div class="row">
                            <p>SUNRISE/SET GRAPHIC GOES HERE</p>
                        </div>
                        <div class="row">
                            <p>SUNRISE/SET DATA GOES HERE</p>
                        </div>
                    </div>
                </div>
                <div class="row-2">
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                <div class="card bg-primary">
                    <div class="card-body card-font-color">
                        <p>DETAILS GO HERE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>